<footer>
    <div class="container">
        <div class="tablet-position-container">


<div class="first-container">

        <nav>
        <div class="logo-par-container">
            <div class="svg-logo-container">
                <a href="./index.html">
                <img class="logo-svg" width="194" height="18" src="../img/logo-ph.svg" alt="Green.Harvest">
                <img class="logo-tab-des" width="194" height="18" src="../img/logo-tab-des.svg" alt="Green.Harvest">
            </a>
    </div>
        <p class="footer-par">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
    </div>

</div>
<div class="des-position">
<div class="second-container">

    <div class="section-list-container">
        <ul class="local-links-list">
            <li class="local-links-items">
                 <a class="anchor" href="#hiv">how it works</a>
            </li>
            <li class="local-links-items">
                <a class="anchor" href="#vegetables">vegetables</a>
            </li>
            <li class="local-links-items">
               <a class="anchor" href="#reviews">reviews</a> 
            </li>
        </ul>
    </nav>

<div class="tel-add">
            <ul class="tel-address">
                <li class="tel-address-items"><a class="tel-address-link" href="+380684439426">+380 (68) 443-94-26</a></li>
                <li class="tel-address-items"><a class="tel-address-link" href="">1678 S. Pioneer Road Salt Lake City UT 84104</a></li>
            </ul>
        </div>

    </div>


    </div>
</div>
</div>
    <div class="priv-pol-container">
        <ul class="priv-pol-list">
            <li class="priv-pol"><a href="">Privacy Policy  /  Cookie settings</a></li>
            <li class="priv-pol">©Green Harvest 2023</li>
        </ul>
    </div>






</div>


</footer>