<header class="header">
  <div class="container">
    <a class="logo" href="./header.html">
      <svg class="icon" width="16" height="16">
        <use href="../img/icons.svg#icon-logo"></use></svg
      ><svg class="icon" width="146" height="12">
        <use href="../img/icons.svg#icon-logo-mobile"></use></svg></a
    ><button class="btn-menu" type="button">
      <svg class="menu-icon" width="26" height="20">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
