<section class="section section-bg">
    <div class="container step">
        <div class="container-img">
            <h2 class="visually-hidden">vegetable basket</h2>
            <picture>
                <source media="(min-width: 1280px)" srcset="
            ./img/how-it-works/how-desktop-1x.jpg 1x,
            ./img/how-it-works/how-desktop-2x.jpg 2x
          " />
                <source media="(min-width: 768px)" srcset="
            ./img/how-it-works/how-tab-1x.jpg 1x,
            ./img/how-it-works/how-tab-2x.jpg 2x
          " />
                <source media="(max-width: 767px)" srcset="
            ./img/how-it-works/how-mob-1x.jpg 1x,
            ./img/how-it-works/how-mob-2x.jpg 2x
          " />
                <img class="steps-picture" src="./img/how-it-works/how-mob-1x.jpg" alt="a woman cuts fruit" />
            </picture>
        </div>

        <div class="container-step">
            <h2 class="step-title">
                To order your <span class="step-title-color">vegetable</span> basket,
                simply follow these <span class="step-title-color">easy steps</span>
            </h2>

            <p class="step-text">
                Our baskets are assembled with care and delivered straight to your
                doorstep, so you can enjoy the taste of fresh fruit without ever leaving
                your home.
            </p>

            <ol class="step-list">
                <li class="step-item">
                    <div class="step-item-numbers">1</div>
                    <span class="step-item-span">Just choose
                        <span class="step-item-title-color">the vegetable</span> you want to
                        order by clicking on the checkboxes
                        <span class="step-item-title-color"> next to it. </span>
                    </span>
                </li>
                <li class="step-item">
                    <div class="step-item-numbers">2</div>
                    <span class="step-item-span-box">
                        Click on <span class="step-item-title-color"> the basket </span> and
                        fill out the form.</span>
                </li>
                <li class="step-item">
                    <div class="step-item-numbers">3</div>
                    <span>Sit back and relax! Your
                        <span class="step-item-title-color">fresh vegetables</span> basket
                        will be delivered.</span>
                </li>
            </ol>
        </div>
    </div>
</section>