
<section class="section section-bg" id="hiv">

  <div class="container step">
    <div class="container-img">
      <h2 class="visually-hidden">vegetable basket</h2>
      <picture>

        <source media="(min-width: 1280px)" srcset="
            ./img/how-it-works/how-desktop-1x.png 1x,
            ./img/how-it-works/how-desktop-2x.png 2x
          " />
        <source media="(min-width: 768px)" srcset="
            ./img/how-it-works/how-tab-1x.png 1x,
            ./img/how-it-works/how-tab-2x.png 2x
          " />
        <source media="(max-width: 767px)" srcset="
            ./img/how-it-works/how-mob-1x.png 1x,
            ./img/how-it-works/how-mob-2x.png 2x
          " />
        <img class="steps-picture" src="./img/how-it-works/how-mob-1x.png" alt="a woman cuts fruit" />
      </picture>
    </div>

    <div class="container-step">
      <h2 class="step-title">
        To order your <span class="step-title-color">vegetable</span> basket,
        simply follow these <span class="step-title-color">easy steps</span>
      </h2>

      <p class="step-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>

      <ol class="step-list">

        <li class="step-item">
          <p class="step-item-span item-text">Just choose
            <strong class="step-item-title-color">the vegetable</strong> you want to
            order by clicking on the checkboxes
            <strong class="step-item-title-color"> next to it. </strong>
          </p>
        </li>

        <li class="step-item">

          <p class="step-item-span-box item-text">
            Click on <strong class="step-item-title-color"> the basket </strong> and
            fill out the form.</p>
        </li>

        <li class="step-item">
          <p class="item-text item-text-box ">Sit back and relax! Your
            <strong class="step-item-title-color">fresh vegetables</strong> basket
            will be delivered.
          </p>
        </li>

      </ol>
    </div>
  </div>
</section>