<section class=" ">

    <div class="step-img steps section container">
        <img class="steps-picture" src="./img/how-it-works/how-mob-1x.jpg" alt="a woman cuts fruit" width="335px"
            height="450px;" />
    </div>

    <div class="easy-steps section container">

        <h2 class="step-title">To order your vegetable basket, simply follow these easy steps</h2>

        <p class="step-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit
            without ever leaving your home.</p>

        <ul class="step-list">
            <li class="step-item">
                <div class="step-item-numbers">1</div>Just choose the vegetable you want to order by clicking on the
                checkboxes
                next to
                it.
            </li>
            <li class="step-item">
                <div class="step-item-numbers">2</div>Click on the basket and fill out the form.
            </li>
            <li class="step-item">
                <div class="step-item-numbers">3</div>Sit back and relax! Your fresh vegetables basket will be
                delivered.
            </li>
        </ul>

    </div>

</section>