<section class="section veget-section">
  <div class="container veget-container">
    <h2 class="veget-title">
      organic <span class="veget-color-word">vegetables</span>
    </h2>
    <p class="veget-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veget-list">
      <li class="veget-list-item">
        <h3 class="veget-item-title">eggplant</h3>
        <p class="veget-item-text">60 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/eggplant.png"
          alt="=eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-item-title">leek</h3>
        <p class="veget-item-text">50 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/leek.png"
          alt="=leek"
          width="282"
          height="243"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-item-title">mushrooms</h3>
        <p class="veget-item-text">40 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/mushrooms.png"
          alt="=mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-item-title">corn</h3>
        <p class="veget-item-text">60 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/corn.png"
          alt="=corn"
          width="282"
          height="243"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-item-title">sweet potatoes</h3>
        <p class="veget-item-text">50 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/sweet-potatoes.png"
          alt="=sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-item-title">carrot</h3>
        <p class="veget-item-text">40 UAH / kg</p>
        <img
          class="veget-image"
          src="../img/carrot.png"
          alt="=carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
