.reviews-section {
  background-color: #fbfbfb;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviews-title-conteiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-title {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.reviews-title-accent {
  color: #576f35;
}

.reviews-desc {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.reviews-card-img {
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.reviews-card-item {
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  padding: 20px 16px;
}

.two {
  display: none;
}

.three {
  display: none;
}

.reviews-card-subtitle {
  color: #040306;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.015em;
  margin-bottom: 8px;
}

.reviews-card-desc {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  width: 100%;
  padding: 0 7px;
}
@media screen and (min-width: 375px) {
  /* .reviews-card-desc {
    max-width: 288px;
  } */
}

@media screen and (min-width: 768px) {
.reviews-container {
    gap: 50px;
}

    .reviews-title-conteiner {
    width: 553px;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 1;
  }

  .reviews-desc {
    font-size: 16px;
    line-height: 1.25;
  }

  .reviews-card-list {
    display: flex;
    gap: 18px;
    text-align: center;
  }

  .reviews-card-item {
    width: calc((100% - 18px) / 2);
    padding: 20px;
  }

  .two {
    display: block;
  }

  .reviews-card-subtitle {
    color: #141414;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.015em;
  }

  .reviews-card-desc {
    color: rgba(20, 20, 20, 0.4);
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1280px) {

.reviews-card-list {
    gap: 25px;
}

.reviews-card-item {
    width: calc((100% - 50px) / 3);
}

.three {
    display: block;
}
}
